:root {
  --special-color: rgb(100, 255, 218);
  --normal-color: white;
  --background-color: rgb(10, 24, 46);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--special-color) !important;
  /* font-family: 'Conthrax SemiBold' ; */
  font-family: "Poppins", sans-serif;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 13px;

  overflow-x: hidden;
  overflow-y: hidden;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

.navbar-toggler-icon {
  background-image: url("./assets/Icons/Menu.gif") !important;
  width: 100% !important;
  height: 100% !important;
  
  
}

.navbar-toggler{
  width: 60px;
  height: 50px !important;
  border: none !important;
  outline: none;

}

.navbar-toggler:focus{
  outline: none !important;
}
a:hover {
  color: white !important;
}

.Resumebutton {
  color: var(--special-color);
  background-color: transparent;
  border: 1px solid var(--special-color);
  border-radius: 5px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;

  text-decoration: none;
  transition: 0.3s;
  margin-left: 15px;
  font-size: 16px;
}

.Resumebutton:hover {
  box-shadow: 3px 3px 0 0 var(--special-color);
  transform: translate(-4px, -4px);
  cursor: pointer;
}

.offcanvas-header .btn-close {
  width: 100% !important;
  color: aliceblue !important;
  background-color: var(--special-color) !important;
  padding: 10px !important;
  margin-top: 15px !important;
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  * {
    font-size: 10px;
  }


  .Resumebutton {
    position: relative;
    color: var(--special-color);
    background-color: transparent;
    border: 1px solid var(--special-color);
    padding: 10px;
    margin: 0;
    width: 100%;
    bottom: 0 !important;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    margin-top: 10px;
  }
}


